.icon {
  height: 24px;
  width: 24px;
  display: block;
  cursor: $cursor-mouse;
  transition: transform 0.3s;

  @include hover(transform,scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
}

&--phone {
  position: relative;
  background-image: url(../images/icons/icon-phone-number-mobile.svg);

  @include on-tablet {
    background-image: url(../images/icons/phone-number-tablet.svg);
  }

  @include on-desktop {
    &:hover::before {
      content: '+1 234 555-55-55';
      width: max-content;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 38px;
      color: $main-text-color;
      text-align: right;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}

  &--menu {
    background-image: url(../images/icons/icon-burger-menu-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    position: relative;

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover-mobile.svg);
      transform: scale(1.2);
      background-size: 24px;
    }

    @include on-tablet {
      background-image: url(../images/icons/icon-burger-menu-tablet.svg);
      background-size: 32px;

      &:hover {
        background-image: url(../images/icons/icon-burger-menu-hover-tablet.svg);
        transform: scale(1.2);
        background-size: 32px;
      }
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close-mobile.svg);

    @include on-tablet {
      background-image: url(../images/icons/icon-close-tablet.svg);
    }
  }
}
